<%= form_for( :session, url: sessions_path ) do |f| %>

<div id="form">
  <div class="field_title">Email</div>
  <div class="field">
    <%= f.text_field :email %>
  </div>  
  
  <div class="field_title">Password</div>
  <div class="field">
    <%= f.password_field :password %>
  </div>  
  
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

  <div>If you don't have an account, contact Joren at joren@studentaanhuis.nl.</div>
</div>

<% end %>