<div class="user actions">
  <!-- users can edit themselves -->
  <% if current_user && current_user.id == @user.id %>
    <span><%= link_to t( :edit_user_link ), edit_user_path  %></span>
    | <span><%= link_to t( :inactivate_user_link ), @user, :method => :remove %></span>
  <!-- admins can edit any user -->
  <% elsif current_user && current_user.role == 'Administrator' %> 
    <span><%= link_to t( :edit_user_link ), edit_user_path  %></span>
    | <span><%= link_to t( :inactivate_user_link ), @user, :method => :remove %></span>
  <% end %>
</div>

