<% provide( :title, "User" ) %>

<div>
  <%= render :partial => "layouts/flash_messages" %>
</div>

<div class="user actions">
  <%= link_to "Back", users_path %>
</div>

<div>
  <%= render :partial => "user" %>
</div>

<div>
  <%= render :partial => "users/user_actions", :locals => { :user => @user } %>
</div>