<% provide( :title, "Ticket" ) %>

<div>
  <%= render :partial => "layouts/flash_messages" %>
</div>

<div class="ticket actions">
  <%= link_to "Back", tickets_path %>
</div>

<div>
  <%= render :partial => "ticket" %>
</div>

<div>
  <%= render :partial => "tickets/ticket_actions", :locals => { :ticket => @ticket } %>
</div>
