@import 'common';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/**************************
*    SOLARIZED COLORS     *
**************************/
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;



/**************************
*       PAGE ELEMENTS     *
**************************/
body {
    background-color: #EAF3FA;
}

input {
    height: auto !important;
}

/*****************************
*  ERRORS AND NOTIFICATIONS  *
******************************/

.field_with_errors {
  padding: 2px;
  background-color: $red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $red;
  border-radius: 5px;
  padding: 7px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  /*background-color: $violet;*/
  font-size: 16px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $red;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}

/**************************
*  INTERFACE COMPONENTS   *
**************************/

#banner {
	background: #75aadb;
	color: white;
	width: 97%;
    height: 2.5em;
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-right: 0.5em;
    padding-bottom: 0.25em;

    a {
        font: "Humanist 777", sans-serif;
        font-size: small;
    }

    .title {
        color: inherit;
        background: inherit;
        font: "Humanist 777", sans-serif;
        width: 50%;
        text-align: left;
        float: left;

        &.apptitle {
            font: small-caps 40px/40px "Humanist 777", serif;
            text-align: center;
        }
    }

    .nav {
        color: inherit;
        background: inherit;
        font: "Humanist 777", sans-serif;
        width: 50%;
        font-size: small;       
        text-align: right;
        float: left;
    }
}

#main  {
	padding: 1em;
	background: #EAF3FA;
	/*width: 100%;*/
	float: left;
}

#footer {
	background: #75aadb;
	font: small-caps "Humanist 777", serif;
	font-size: small;
	color: white;
	text-align: center;
	vertical-align: middle;
	width: 97%;

	position: fixed;
	left: 0px;
	bottom: 0px;
}

.notice {
	color: $base02; 
	border: 1px solid $base03;
    border-radius: 10px;
	padding: 1em;
	margin-bottom: 2em;
	background-color: $base3;
	font: bold smaller sans-serif;
	width: 50%;
}

.alert {
    color: $red; 
    border: 1px solid $base03;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2em;
    background-color: $base3;
    font: bold smaller sans-serif;
    width: 50%;        
}

/**************************
*       FORM FIELDS       *
**************************/
.field {
    /*border: 2px solid #75aadb;*/
    width: 100%;
    margin-bottom: 2em;
}

/**************************
*     TABLES              *
**************************/
table, section.table, div.table {
    border-collapse: collapse;
    border-spacing: 0;
    /*padding-left: 1em;*/
    width: 90%;
    caption, .caption {
        border-bottom: 1px;
        display: table-caption;
        font-size: 100%;
        font-weight: bold;
        line-height: 100%;
    }

    .thead { display: table-header-group; }
    .tfoot { display: table-footer-group; }
    .tbody { display: table-row-group; }
    .tr    { display: table-row; }
    
    a.tr { 
        color: inherit;
        text-decoration: none;
        &:hover { background-color: #ccc }
    }
    
    th, .th, td, .td {
        border-top: 1px solid #ccc;
        display: table-cell;
        padding: .3em 1em;
        text-align: left;
        /*float: left;*/
        empty-cells: show;
        min-height: 1em;
        max-height: 3em;
        overflow: auto;
        &.number {
          text-align: right;
        }
        /*&:first-child { padding-left: 0; }*/
        &:last-child { padding-bottom: 0.5em; }
    }

    thead th, .thead .th {
		border-top: 2.5px solid #ccc;
		border-bottom: 2.5px solid #ccc;
        display: table-cell;
        font-weight: bold;
    }

    tfoot th, .tfoot {
		border-bottom: 2.5px solid #ccc;
        display: table-cell;
    }
}

/**************************
*     OVERVIEW TICKETS    *
**************************/
.small {
    width: 8%;
}

.medium {
	width: 11%;
}

.large {
	width: 22%;
}

.removed {
    text-decoration: line-through;
}

/**************************
*        DEBUGGING        *
**************************/
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 2em;
    box-sizing: border-box;
}

