@import 'common';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$min-width: 960px;
$max-width: 1020px;

@mixin align-items($arg) {
    align-items: $arg;
}

/*****************************
*  ERRORS AND NOTIFICATIONS  *
******************************/

.field_with_errors {
      padding: 5px;
      background-color: $red;
      display: table;
}

#error_explanation {
    float: left;
    clear: left;
    width: 500px;
    border-radius: 5px;
    padding: 7px;
    /*padding-bottom: 5px;*/
    margin-bottom: 20px;
    text-align: left;
    background-color: $red;
    h2 {
        font-weight: bold;
        margin-bottom: 3px;
    }
    ul li {
        background-color: rgba( 255, 255, 255, 0.25 );
        padding: 5px;
        list-style: none;
        &:first-child {
            border-radius: 5px 5px 0 0;
        }        
        &:last-child {
            border-radius: 0 0 5px 5px ;
        }        
    }
}

.translation_missing {
    border: 1px solid $red;
    color: $red;
    background-color: $base3;
}

/**************************
*  INTERFACE COMPONENTS   *
**************************/

#banner {
    box-sizing: border-box;
	background: $base03;
    color: $base0;
	width: 100%;
    min-width: $min-width;
    max-width: $max-width;
    height: 2.5em;
    font: "Humanist 777", sans-serif;
    margin: 1.5em auto;
    .title {
        width: 50%;
        height: 80px;
        font-size: 2em;
        text-align: left;
        float: left;
        clear: left;
    }
    .login {
        width: 50%;
        height: 20px;
        font-size: smaller;
        text-align: right;
        float: left;
        vertical-align: bottom;
        a {
            text-decoration: underline;  
        }
    }
    .languages {
        width: 50%;
        height: 60px;
        font-size: smaller;
        text-align: right;
        float: left;
        vertical-align: bottom;
        a {
            text-decoration: underline;  
        }
    }
    .nav {
        float: left;
        padding: 0.5em 0.5em 0.5em 0.5em;
        margin-right: 0.25em;
        text-align: left;
        border: 3px solid $base02;
        border-radius: 10px 10px 0px 0px;

        background-color: $base02;
        &.current {
            border-bottom: 3px solid $base0;
        }   
        &.env {
            float: right;
            margin-right: 0em;
        }
        :first-child {
            clear: left;
        }
    }
}

#main  {
	padding: 1em;
	background: $base03;
    background-color: $base02;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    overflow: auto;

    clear: both;
    width: 100%;
    min-width: $min-width;
    max-width: $max-width;

    margin: 4em auto 1.5em;

    .will_paginate {
        clear: both;
        color: rgba( 255, 255, 255, 0.25 );
        .previous_page, .previous, .current, .next, .next_page {
            &.disabled {
                color: rgba( 255, 255, 255, 0.25 );
            }
        }
    }
}


#footer {
	background: $base03;
	font-size: small;
	color: $base0;
	text-align: center;
    font: "Humanist 777", sans-serif;

    width: 100%;
    min-width: $min-width;
    max-width: $max-width;

    margin: 1.5em auto;
}

.notice {
	float: left;
    clear: both;
    color: $base03; 
	border: 1px solid $base03;
    border-radius: 10px;
	padding: 1em;
	margin-bottom: 2em;
	background-color: $base1;
	font: bold smaller sans-serif;
	width: 800px;
}

.alert {
    float: left;
    clear: both;
    color: $red; 
    border: 1px solid $base03;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2em;
    background-color: $base1;
    font: bold smaller sans-serif;
    width: 500px;     
}

/**************************
*       FORM FIELDS       *
**************************/
#form {
    text-align: left;
    float: left;
    width: 100%;
    color: $base0;
    display: inline-block;  
    background-color: $base02;
    &.field_title {
        width: 100%;
        clear: left;
    }
    &.field {
        width: 100%;
        margin-bottom: 50em;
        float: right;
    }
}

#session_form {
    clear: both;
    text-align: center;
    float: left;
    width: 100%;
    min-width: $min-width;
    max-width: $max-width;
    color: $base0;
    display: inline-block;  
    background-color: $base02;
    &.field_title {
        width: 100%;
    }
    &.field {
        width: 100%;
        float: right;
    }
}

#search {
    text-align: left;
    width: 100%;
    color: $base0;
    padding: 10px 0 20px 10px;
    &.field_title {
        width: 100%;
        clear: left;
    }
    &.field {
        width: 100%;
    }    
}

#filter {
    text-align: left;
    width: 100%;
    color: $base0;
    padding: 10px 0 20px 10px;
    &.field_title {
        width: 100%;
    }
    &.field {
        width: 100%;
    }    
}

input[type="text"], input[type="password"], textarea , select {
    color: $base03;
    background-color: $base0;
}

input[type="submit"] {
    float: right;
    color: $base03;
    background-color: $base0;
    border-radius: 0px;
    padding: 2px;
}
/**************************
*     TABLES              *
**************************/
table, section.table, div.table {
    float: left;
    color: $base0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    caption, .caption {
        border-bottom: 1px;
        display: table-caption;
        font-size: 100%;
        font-weight: bold;
        line-height: 100%;
    }

    .thead { display: table-header-group; }
    .tfoot { display: table-footer-group; }
    .tbody { display: table-row-group; }
    .tr    { display: table-row; }
    
    a.tr { 
        color: inherit;
        text-decoration: none;
        &:hover { 
            background-color: #fff;
            color: complement;
        }
        &:not(:last-child) {
            border-bottom: 1px solid $base0;
        }
    }
    
    th, .th, td, .td {
        display: table-cell;
        padding: .3em 1em;
        text-align: left;
        empty-cells: show;
        min-height: 1em;
        max-height: 3em;
        overflow: auto;
        &.number {
          text-align: right;
        }
/*        &:last-child { 
            padding-bottom: 0.5em;
        }*/
        &.removed {
           text-decoration: line-through;
        }
    }

    thead th, .thead .th {
		border-top: 2.5px solid $base0;
		border-bottom: 1.5px solid $base0;
        display: table-cell;
        font-weight: bold;
    }

    tfoot th, .tfoot {
		border-bottom: 2.5px solid $base0;
    }

    /* column widths*/
    .small {
        width: 8%;
    }
    .medium {
        width: 11%;
    }
    .large {
        width: 22%;
    }

}

/**************************
*     TICKET DISPLAY      *
**************************/
.ticket {
    float: left;
    clear: both;
    text-align: left;
    
    color: $base0;
    background-color: $base02;
    border-radius: 15px;
    padding: 20px 0 20px 0;
    &.data {
        &.data header{
           font-weight: bold;
        }
    }
    &.actions {
        a {
            text-decoration: underline;  
        }
    }
}

/**************************
*     USER display:       *
**************************/
.user {
    float: left;
    clear: both;
    text-align: left;

    color: $base0;
    background-color: $base02;
    border-radius: 15px;
    padding: 20px 0 20px 0;
    &.data_header{
        font-weight: bold;
    }
    &.data {
        &.data header{
           font-weight: bold;
        }
    }
    &.actions {
        a {
            text-decoration: underline;  
        }
    }
}
