<div id="banner">
  <p class="title"><%= yield( :title ).upcase %></p>
  <p class="nav">
    <a href="http://localhost:3000/overview">Overview</a>
    <a href="http://localhost:3000/tickets/new">New ticket</a>
</div>