<div id="banner">
  <p class="title"><%= yield( :title ).upcase %></p>
  <p class="nav">
    <a href="http://localhost:2999/overview">Overview</a>
    <a href="http://localhost:2999/users/new">New user</a>
</div>